*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
font-family: 'Libre Baskerville', serif;



}
#banner{

    background: linear-gradient(rgba(0,0,0,0.5),#009688),url(Barber_Shop_img/banner.jpg);
    
    background-size: cover;
    background-position: center;
    height: 100vh;

}
.logo{
    width: 140px;
    position: relative;
    top: 4%;
    left: 10%;

}
.banner-txt{
    text-align: center;
    color: white;
    padding-top: 180px;

}
.banner-txt h1{
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;



}
.banner-txt p{
    font-size: 20px;
    font-style: italic;


}
.banner-btn{
    margin: 70px auto 0;

}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: white;
    border: 1px solid white;
    transition: 0.5s;
    
    
    

}
/*
.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    }
.banner-btn a:hover{
    width: 100%;
}
*/
#sidebar{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background: #009688;
    z-index: 2;

}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;

}
#menubtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;

}
.features-icon .fa{
    font-size: 20px;
    border-radius: 8px;
    color: #009688;
}
#menubtn img{
    width: 20px;
    margin-top: 15px;

}
@media screen and (max-width:770px){
    .banner-txt h1{
        font-size: 46px;
    }
    .banner-btn a{
        display: block;
        margin: 20px auto;

    }
}  
   

#feature{
    width: 100%;
    padding: 70px 0;

}
.title-text{
  text-align: center;
  padding: 70px 0;


}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-transform: none;
    

}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;

}
.title-text h1{
    font-size: 50px;
    padding-top: 10px;

}
.fe-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

}

.features-img{
    flex-basis: 50%;
    margin: auto;

}
.features-img img{
    width: 70%;
    border-radius: 10px;

}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;

}
.features-disc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;

}
.features-text p{
    padding: 0 20px;
    text-align: initial;
}

@media screen and (max-width:770px){
    .title-text h1{
        font-size: 35px;

    }
    .features{
        flex-basis: 100%;

    }
    .features-img{
        flex-basis: 100%;

    }
    .features-img img{
        width: 100%;

    }
}

#service{
    width: 100%;
    padding: 70px 0;
    background: rgba(128, 128, 128, 0.308);
}
.s-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;


}
.s-s{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    position: relative;
    color: white;


}
.s-s img{
    width: 100%;
    border-radius: 7px;

}
.over{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
}

.s-s:hover .over{
    opacity: 1;
}
.s-d{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;

}
.s-d p{
    font-size: 14px;
}
.s-s:hover .s-d{
    bottom: 40%;
    opacity: 1;

}
@media screen and (max-width:770px){

    .s-s{
        flex-basis: 100%;
        margin-bottom: 30px;

    }
    .s-d p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;

    }
    .s-s:hover .s-d{
        bottom: 25% !important;
    
    
    }
}
#test{
    padding: 70px 0;
    width: 100%;
}
.test-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.test-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;

}

.test-col p{
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px o;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;

}

.user-info .fa{
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;

}
.user-info small{
    color: #27c0ff;
}
.test-col:hover{
    transform: translateY(7px);

}
@media screen and (max-width:770px){
    .test-col{
        flex-basis: 100%;
    }
}

#footer{
    padding: 100px 0 20px;
    background: rgba(128, 128, 128, 0.308);
    
}
.f-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.f-left,.f-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.f-right{
    text-align: right;
}
.f-row h1{
    margin: 10px 0;

}

.f-row p{
    line-height: 35px;
}

.f-left .fa,.f-right .fa{
    font-size: 20px;
    color: #009688;
    margin: 10px;
}

.f-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    
}
.s-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #009688;
    margin: 40px 40px 0;
    color: #009688;
    cursor: pointer;
    transition: .5s;

}
s-links .fab:hover{
    background: #009688;
    color: #fff;
    transform: translateY(-7px);
}
.s-links p{
    font-size: 15px;
    text-align: center;
}
@media screen and (max-width:770px){
    .f-left,.f-right{
        flex-basis: 100%;
        font-size: 14px;
    }
}
